.admins-container{
    display: flex;
    flex-direction: column;
    // align-items: center;
    background-color: white;
    height: 90vh;
    .add-admin-container{
        display: flex;
        justify-content: space-between;
        margin: 4rem 2rem 2rem 2rem;
        .admin-heading{
            font-size: 28px;
        }
        // .add-button{
                
        // }
    }
    nz-table{
        width: 100%;
        th{
            background-color: azure;
        }
        td{
            text-align: center;
            font-weight: 200;
        }
        .actions{
            display: flex;
            justify-content: center;
        }
    }
    .title{
        text-align: center;
        font-weight: 700;
    }
    .action-icon{
        padding: .5rem;
        cursor: pointer;
    }
    .modalForm{
        width: 500px;
        .nz-form-item{
            width: 500px;
        }

    }
    nz-select {
        width: 300px;
    }
    input{
        width: 100%;
    }
}