<div class="admins-container">
    <div class="add-admin-container">
        <div class="admin-heading">
            <span>Admin List</span>
        </div>
        <div class="add-admin">
          <div class="add-button">
          <div *ngIf="isAdmin">
                <button nz-button nzType="primary" (click)="showModal()"><i nz-icon nzType="plus"  nzTheme="outline"></i> Add New Admin</button>
          </div>
          </div>
        </div>
    </div>
    <nz-table [nzShowPagination]='false' #basicTable [nzData]="listOfData">
        <thead>
          <tr>
            <th class="title">Fisrt Name</th>
            <th class="title">Last Name</th>
            <th class="title">Email ID</th>
            <th class="title">Roles</th>
            <th class="title">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.firstName }}</td>
            <td>{{ data.lastName }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.role }}</td>
            <td class="actions" *ngIf="isAdmin; else elsethanAdmin">
                <div *ngIf="data.blocked; else elsethanblocked">
                  <i class="action-icon" nz-icon nzType="lock" nzTheme="outline"
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure unblock this admin?"
                  nzPopconfirmPlacement="left"
                  (nzOnConfirm)="blockConfirm(data._id,false)"
                  (nzOnCancel)="blockCancel()"></i>
                </div>
                <ng-template #elsethanblocked>
                  <i class="action-icon" nz-icon nzType="unlock" nzTheme="outline"
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure block this admin?"
                  nzPopconfirmPlacement="left"
                  (nzOnConfirm)="blockConfirm(data._id,true)"
                  (nzOnCancel)="blockCancel()"></i>
                </ng-template>
                <div>
                  <i class="action-icon" nz-icon nzType="edit" nzTheme="outline"></i>
                </div>
                <div>
                  <i class="action-icon" nz-icon nzType="delete" nzTheme="outline" 
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure delete this admin?"
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="deleteConfirm(data._id)"
                  (nzOnCancel)="deleteCancel()"></i>
                </div>
            </td>
            <ng-template #elsethanAdmin>
              <td>
                No Actions allowed!
              </td>
            </ng-template>
          </tr>
        </tbody>
      </nz-table>
    </div>
        <nz-modal
        [(nzVisible)]="isVisible"
        [nzTitle]="modalTitle"
        [nzContent]="modalContent"
        [nzFooter]="modalFooter"
        (nzOnCancel)="handleCancel()"
      >
      <ng-template #modalTitle>
        Add New Admin
      </ng-template>
  
      <ng-template #modalContent>
            <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'" (ngSubmit)="handleOk()">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName">First Name: </nz-form-label>
                  <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Enter first name!">
                    <input nz-input formControlName="firstName" id="firstName" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastName">Last Name: </nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Enter last name!">
                      <input nz-input formControlName="lastName" id="lastName" />
                    </nz-form-control>
                  </nz-form-item>
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>Email: </nz-form-label>
                  <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Please input your email!">
                    <input nz-input type="email" id="email" formControlName="email" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName">Select Role: </nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24" nzValidateStatus=""                                                      >
                        <nz-select
                        nzPlaceHolder="Please select role"
                        [(ngModel)]="selectedOption"
                        [ngModelOptions]="{standalone: true}"
                      >
                        <nz-option *ngFor="let item of listOfOption" [nzLabel]="item" [nzValue]="item"></nz-option>
                      </nz-select>
                      </nz-form-control>
                </nz-form-item>
            </form>
      </ng-template>
  
      <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Reset</button>
        <button nz-button nzType="primary" (click)="handleOk()" >Add</button>
      </ng-template>
    </nz-modal>