<nz-layout>
  <nz-header class="header">
    <div class="navbar">
      <div class="navbar-brand">
        <span>Admin Management</span>
      </div>
      <div class="navbar-account" nz-dropdown [nzDropdownMenu]="menu">
        <div class="username">
          <span>Hi, {{username}}</span>
        </div>
        <div class="avatar">
          <nz-avatar nzText={{username.slice(0,1)}} style="color:#fc00ff; background-color:#fde3cf;"></nz-avatar>
        </div>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item  >Account</li>
            <li nz-menu-item (click)="logout()">Logout <i nz-icon nzType="logout" nzTheme="outline"></i></li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>