.header{
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .navbar{
        display : flex;
        justify-content: space-between;
        height: 100%;
        .navbar-brand{
            font-size: 32px;
            color: whitesmoke;
        }
        .navbar-account{
            display: flex;
            justify-content: center;
            padding: 0rem .5rem;
            border-radius: 4px;
            cursor: pointer;
            .username{
                padding: 0rem .5rem;
                color: whitesmoke;
            }
        }
    }
}