.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;

    .login-form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem;
      width: 25;
      -webkit-box-shadow: 8px 8px 21px -10px rgba(0,0,0,0.18);
      -moz-box-shadow: 8px 8px 21px -10px rgba(0,0,0,0.18);
      box-shadow: 8px 8px 21px -10px rgba(0,0,0,0.18);
      border-radius: 4px;
    }

    .login-title {
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      padding-bottom: 1rem;
      color: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .login-form-margin {
      margin-bottom: 16px;
    }

    .login-items{
      width: 20vw;
    }

    .login-form-button {
      width: 100%;
      border: none;
      outline: none;
      background: #fc00ff;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    i {
      cursor: pointer;
    }

  }
 
